<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.demoai.mapper.DeviceInfoMapper">

    <resultMap id="BaseResultMap" type="com.zz.demoai.bean.DeviceInfo">
            <id property="id" column="id" />
            <result property="deviceId" column="device_id" />
            <result property="deviceName" column="device_name" />
            <result property="pushStatus" column="push_status" />
            <result property="phone" column="phone" />
    </resultMap>

    <sql id="Base_Column_List">
        id,device_id,device_name,push_status,phone
    </sql>
</mapper>
