<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.demoai.mapper.ServiceOrderMapper">

    <resultMap id="BaseResultMap" type="com.zz.demoai.bean.ServiceOrder">
            <id property="id" column="id" />
            <result property="createDate" column="create_date" />
            <result property="title" column="title" />
            <result property="desc" column="desc" />
            <result property="solve" column="solve" />
    </resultMap>

    <sql id="Base_Column_List">
        id,create_date,title,desc,solve
    </sql>
</mapper>
